.aware{

    padding: 50px;
    text-align: center;
    }
    
    .list-precautions ul li{
        list-style-type: square !important;
    }
.who{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}